<p-card class="d-flex justify-content-center" header="Login" id="whole" [style]="{width:'px'}">
  <div id="color" *ngIf="loggedIn; else loginForm">

    <img class="circular--square" src="{{currentUser.image}}" />
    <br>
    <br>
<br>
    <div> 
    <h5>NAME : </h5><span>{{ currentUser.firstName + ' ' + currentUser.lastName}}</span><br><br>
    <h5>GENDER : </h5><span>{{ currentUser.gender}}</span><br><br>
    <h5>USER ID : </h5><span>{{ currentUser.id}}</span><br><br>
    <h5>D.O.B : </h5><span>{{ currentUser.birthDate }}</span><br><br>
    <h5>BLOOD : </h5><span>{{ currentUser.bloodGroup }}</span><br><br>
    <h5>e-MAIL : </h5><span>{{ currentUser.email }}</span><br><br>
  </div>
    <br>
    <p-button id="logout" (click)="logout()">Logout</p-button>
  </div>
</p-card>

  

  <ng-template #loginForm>
    <form (ngSubmit)="login()">
    <label>Email: </label>
      <br>
      <input type="email" name="email" pInputText [(ngModel)]="email" />
      <br>
      <br>
      <label>Password: </label>
      <br>
      <input type="password" name="password" pInputText [(ngModel)]="password" />
      <br>
      <br>
      <p-button label="Submit" type="submit" id="login"></p-button>
    
    </form>
  </ng-template>  
